@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #d1d8e0;
    box-sizing: border-box;
}

.header-title {
    text-align: center;
}